<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.ems.dao.admin.AdminMapper" >

    <resultMap id="BaseUserMap" type="com.ly.ems.model.admin.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="BaseRoleMap" type="com.ly.ems.model.admin.Role">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="BasePermissionMap" type="com.ly.ems.model.admin.Permission">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
        <result column="permission_desc" property="permissionDesc" jdbcType="VARCHAR" />
        <result column="permission_url" property="permissionUrl" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <select id="getAllPermissions" resultMap="BasePermissionMap">
      SELECT p.* FROM permission p WHERE p.status = #{status, javaType=com.ly.ems.model.common.constant.StatusEnum}
    </select>

    <select id="getUserByUsernameAndPassword" resultMap="BaseUserMap">
        SELECT u.* FROM user u WHERE u.username = #{username, jdbcType=VARCHAR} AND u.password = #{password, jdbcType=VARCHAR}
    </select>

    <select id="getUserByUsername" resultMap="BaseUserMap">
        SELECT u.* FROM user u WHERE u.username = #{username, jdbcType=VARCHAR}
    </select>

    <select id="getRolesByUserId" resultMap="BaseRoleMap">
        SELECT r.* FROM role r, user_role ur WHERE r.status = 1 AND r.id = ur.role_id AND ur.user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <select id="getPermissionByRoleId" resultMap="BasePermissionMap">
        SELECT r.* FROM permission p, role_permission rp WHERE p.status = 1 AND p.id = rp.permission_id AND rp.role_id = #{roleId, jdbcType=VARCHAR}
    </select>

</mapper>