<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ems.dao.salary.ExtendSalaryMapper">
    <resultMap id="SalaryVoMap" type="com.ly.ems.model.salary.SalaryVo"
               extends="com.ly.ems.dao.salary.SalaryMapper.BaseResultMap">
        <result column="employee_name" property="employeeName" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER" />
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER" />
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getSalariesByConditions" resultMap="SalaryVoMap">
        SELECT * FROM (
            SELECT s.*, e.employee_name, g.id group_id, g.group_name, j.id job_id, j.job_name
            FROM ${salaryTableName} s
            LEFT JOIN ly_employee e ON s.employee_id = e.id
            LEFT JOIN ly_group g ON e.group_id = g.id
            LEFT JOIN ly_job j ON e.job_id = j.id
        ) a
        WHERE 1=1 AND a.enable = 1
        <if test="conditions.employeeName != null and conditions.employeeName != ''">
            AND employee_name like CONCAT('%', #{conditions.employeeName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="conditions.groupId != null and conditions.groupId != ''">
            AND group_id = #{conditions.groupId, jdbcType=VARCHAR}
        </if>
        <if test="conditions.jobId != null and conditions.jobId != ''">
            AND job_id = #{conditions.jobId, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="isExistSalaryTable" parameterType="String" resultType="Integer">
        SELECT COUNT(1) FROM INFORMATION_SCHEMA.tables WHERE table_name = '${salaryTableName}'
    </select>

    <update id="createSalaryTable" parameterType="String">
        create table
        -- if not exists
        ${salaryTableName} like ly_salary_template
    </update>

    <insert id="batchInsert">
        INSERT INTO ${salaryTableName} (
        employee_id, enable, basic_salary, overtime_salary, calculate_salary, hot_allowance,
        social_security_allowance, house_fund_allowance, other_income, payable_salary, personal_social_security,
        personal_house_fund, other_deduction, pay_taxes, real_salary, company_social_security,
        company_house_fund
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.employeeId}, #{item.enable},
            #{item.basicSalary}, #{item.overtimeSalary}, #{item.calculateSalary}, #{item.hotAllowance},
            #{item.socialSecurityAllowance}, #{item.houseFundAllowance}, #{item.otherIncome}, #{item.payableSalary}, #{item.personalSocialSecurity},
            #{item.personalHouseFund}, #{item.otherDeduction}, #{item.payTaxes}, #{item.realSalary}, #{item.companySocialSecurity},
            #{item.companyHouseFund})
        </foreach>
    </insert>
</mapper>