.condition-container {
    display: block;
    width: 100%;
}

.condition-left {
    float: left;
    margin: 8px;
}

.condition-left > * {
    margin: 4px 8px;
}

.condition-right {
    float: right;
    margin: 8px;
}

.condition-right > * {
    margin: 4px 8px;
}