<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.ems.dao.attendance.ExtendAttendanceMapper">

    <resultMap id="AttendanceVoMap" type="com.ly.ems.model.attendance.AttendanceVo"
               extends="com.ly.ems.dao.attendance.AttendanceMapper.BaseResultMap">
        <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
        <result column="group_name" property="groupName" jdbcType="VARCHAR" />
        <result column="project_name" property="projectName" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAttendancesByConditions" resultMap="AttendanceVoMap">
        SELECT * FROM (
            SELECT a.*, e.employee_name, g.id group_id, g.group_name, j.id job_id, j.job_name, '${month}' `month`
            FROM ${attendanceTableName} a
            LEFT JOIN ly_employee e ON a.employee_id = e.id
            LEFT JOIN ly_group g ON e.group_id = g.id
            LEFT JOIN ly_job j ON e.job_id = j.id
        ) a
        WHERE 1=1 AND a.enable = 1
        <if test="conditions.employeeName != null and conditions.employeeName != ''">
            AND a.employee_name like CONCAT('%', #{conditions.employeeName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="conditions.groupId != null and conditions.groupId != ''">
            AND group_id = #{conditions.groupId, jdbcType=VARCHAR}
        </if>
        <if test="conditions.jobId != null and conditions.jobId != ''">
            AND job_id = #{conditions.jobId, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="isExistAttendanceTable" parameterType="String" resultType="Integer">
        SELECT COUNT(1) FROM INFORMATION_SCHEMA.tables WHERE table_name = '${attendanceTableName}'
    </select>

    <update id="createAttendanceTable" parameterType="String">
        create table
        -- if not exists
        ${attendanceTableName} like ly_attendance_template
    </update>

    <update id="dropAttendanceTable" parameterType="String">
        drop table
        -- if not exists
        ${attendanceTableName}
    </update>

    <insert id="batchInsert">
        INSERT INTO ${attendanceTableName} (
            employee_id, attendance_status_1, attendance_status_2, attendance_status_3, attendance_status_4,
            attendance_status_5, attendance_status_6, attendance_status_7, attendance_status_8,
            attendance_status_9, attendance_status_10, attendance_status_11, attendance_status_12,
            attendance_status_13, attendance_status_14, attendance_status_15, attendance_status_16,
            attendance_status_17, attendance_status_18, attendance_status_19, attendance_status_20,
            attendance_status_21, attendance_status_22, attendance_status_23, attendance_status_24,
            attendance_status_25, attendance_status_26, attendance_status_27, attendance_status_28,
            attendance_status_29, attendance_status_30, attendance_status_31, enable
        )
        values
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.employeeId},#{item.attendanceStatus1},#{item.attendanceStatus2},#{item.attendanceStatus3}
            ,#{item.attendanceStatus4},#{item.attendanceStatus5},#{item.attendanceStatus6},#{item.attendanceStatus7}
            ,#{item.attendanceStatus8},#{item.attendanceStatus9},#{item.attendanceStatus10},#{item.attendanceStatus11}
            ,#{item.attendanceStatus12},#{item.attendanceStatus13},#{item.attendanceStatus14},#{item.attendanceStatus15}
            ,#{item.attendanceStatus16},#{item.attendanceStatus17},#{item.attendanceStatus18},#{item.attendanceStatus19}
            ,#{item.attendanceStatus20},#{item.attendanceStatus21},#{item.attendanceStatus22},#{item.attendanceStatus23}
            ,#{item.attendanceStatus24},#{item.attendanceStatus25},#{item.attendanceStatus26},#{item.attendanceStatus27}
            ,#{item.attendanceStatus28},#{item.attendanceStatus29},#{item.attendanceStatus30},#{item.attendanceStatus31}
            ,#{item.enable}
        </foreach>
    </insert>

    <sql id="Update_Column_List">
        attendance_status_1, attendance_status_2, attendance_status_3, attendance_status_4,
        attendance_status_5, attendance_status_6, attendance_status_7, attendance_status_8,
        attendance_status_9, attendance_status_10, attendance_status_11, attendance_status_12,
        attendance_status_13, attendance_status_14, attendance_status_15, attendance_status_16,
        attendance_status_17, attendance_status_18, attendance_status_19, attendance_status_20,
        attendance_status_21, attendance_status_22, attendance_status_23, attendance_status_24,
        attendance_status_25, attendance_status_26, attendance_status_27, attendance_status_28,
        attendance_status_29, attendance_status_30, attendance_status_31
    </sql>
    <update id="updateAttendanceById">
        UPDATE ${attendanceTableName}
        <set >
            attendance_status_1=#{attendance.attendanceStatus1}, attendance_status_2=#{attendance.attendanceStatus2},
            attendance_status_3=#{attendance.attendanceStatus3}, attendance_status_4=#{attendance.attendanceStatus4},
            attendance_status_5=#{attendance.attendanceStatus5}, attendance_status_6=#{attendance.attendanceStatus6},
            attendance_status_7=#{attendance.attendanceStatus7}, attendance_status_8=#{attendance.attendanceStatus8},
            attendance_status_9=#{attendance.attendanceStatus9}, attendance_status_10=#{attendance.attendanceStatus10},
            attendance_status_11=#{attendance.attendanceStatus11}, attendance_status_12=#{attendance.attendanceStatus12},
            attendance_status_13=#{attendance.attendanceStatus13}, attendance_status_14=#{attendance.attendanceStatus14},
            attendance_status_15=#{attendance.attendanceStatus15}, attendance_status_16=#{attendance.attendanceStatus16},
            attendance_status_17=#{attendance.attendanceStatus17}, attendance_status_18=#{attendance.attendanceStatus18},
            attendance_status_19=#{attendance.attendanceStatus19}, attendance_status_20=#{attendance.attendanceStatus20},
            attendance_status_21=#{attendance.attendanceStatus21}, attendance_status_22=#{attendance.attendanceStatus22},
            attendance_status_23=#{attendance.attendanceStatus23}, attendance_status_24=#{attendance.attendanceStatus24},
            attendance_status_25=#{attendance.attendanceStatus25}, attendance_status_26=#{attendance.attendanceStatus26},
            attendance_status_27=#{attendance.attendanceStatus27}, attendance_status_28=#{attendance.attendanceStatus28},
            attendance_status_29=#{attendance.attendanceStatus29}, attendance_status_30=#{attendance.attendanceStatus30},
            attendance_status_31=#{attendance.attendanceStatus31}
        </set>
        WHERE id = #{attendance.id, jdbcType=INTEGER}
    </update>
</mapper>