<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ems.dao.condition.ConditionConfigMapper">

    <resultMap id="ConditionConfig" type="com.ly.ems.model.condition.ConditionConfig">
        <result column="page_code" property="pageCode" />
        <result column="condition_code" property="conditionCode" />
        <result column="order_by" property="orderBy" />
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="ConditionItem" type="com.ly.ems.model.condition.ConditionItem">
        <id column="condition_code" property="conditionCode" />
        <result column="condition_key" property="conditionKey" />
        <result column="condition_name" property="conditionName" />
        <result column="condition_placeholder" property="conditionPlaceholder"/>
        <result column="condition_type" property="conditionType"/>
        <result column="condition_datasource" property="conditionDatasource"/>
        <result column="condition_sql" property="conditionSql"/>
        <result column="condition_enum" property="conditionEnum"/>
        <result column="condition_parent_key" property="conditionParentKey"/>
        <result column="condition_ext" property="conditionExt"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="ConditionItemDTO" type="com.ly.ems.model.condition.ConditionItemDTO" extends="ConditionItem">


    </resultMap>


    <select id="getConditions" parameterType="java.lang.String" resultMap="ConditionItemDTO">
        SELECT ci.*, cc.order_by FROM condition_config cc, condition_item ci WHERE cc.condition_code = ci.condition_code
           AND cc.status = 1
           AND ci.status = 1
           AND cc.config_code = #{configCode, jdbcType=VARCHAR}
      ORDER BY cc.order_by
    </select>

    <select id="getConditionItemByCode" resultMap="ConditionItemDTO">
        SELECT ci.* FROM condition_item ci WHERE 1 = 1
        AND ci.status = 1
        AND ci.condition_code = #{conditionCode, jdbcType=VARCHAR}
    </select>

    <select id="getConditionItemByCodeAndType" resultMap="ConditionItemDTO">
        SELECT ci.* FROM condition_item ci WHERE 1 = 1
        AND ci.status = 1
        AND ci.condition_code = #{conditionCode, jdbcType=VARCHAR}
        AND ci.condition_type = #{conditionType, javaType=com.ly.ems.model.condition.constants.ConditionType}
    </select>

    <!-- 配置的Sql格式必须为 select XXX as key, XXX as value ..... -->
    <!-- 例如 SELECT c.cityId as key, c.cityName as value FROM city c WHERE c.cityIsDeleted = 0 AND c.cityStatus = 0 -->
    <!-- 例如 SELECT 'YES' as `key`, '显示' as `value` FROM dual UNION SELECT 'NO' as `key`, '不显示' as `value` FROM dual -->
    <select id="getConditionKeyValue" resultType="java.util.Map">
        ${paramSql}
    </select>

</mapper>
