<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.ems.dao.base.AreaMapper" >

    <resultMap id="BaseAreaMap" type="com.ly.ems.model.base.area.Area">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="area_name" property="areaName" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <select id="getAreaById" resultMap="BaseAreaMap">
        SELECT a.* FROM ly_area a WHERE a.id = #{id, jdbcType=INTEGER}
    </select>

    <select id="getAreasByConditions" parameterType="com.ly.ems.model.base.area.AreaConditions" resultMap="BaseAreaMap">
        SELECT a.* FROM ly_area a WHERE 1=1 AND status = 1
        <if test="areaName != null and areaName != ''"> AND area_name like CONCAT('%', #{areaName, jdbcType=VARCHAR}, '%') </if>
    </select>

    <insert id="insertArea" parameterType="com.ly.ems.model.base.area.Area" useGeneratedKeys="true">
        INSERT INTO ly_area (area_name, status) VALUES (#{areaName}, #{status})
    </insert>

    <update id="updateArea" parameterType="com.ly.ems.model.base.area.Area">
        UPDATE ly_area
        <set >
            <if test="areaName != null" >
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,javaType=com.ly.ems.model.common.constant.StatusEnum},
            </if>
        </set>
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

    <delete id="updateAreaStatus" >
        UPDATE ly_area
        SET status = #{status,javaType=com.ly.ems.model.common.constant.StatusEnum}
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteArea" parameterType="java.lang.Integer" >
        DELETE FROM ly_area
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>