<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.ems.dao.base.JobMapper" >

    <resultMap id="BaseJobMap" type="com.ly.ems.model.base.job.Job">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="is_spec" property="isSpec" jdbcType="INTEGER" />
        <result column="salary" property="salary" jdbcType="DECIMAL" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <select id="getJobById" resultMap="BaseJobMap">
        SELECT j.* FROM ly_job j WHERE j.id = #{id, jdbcType=INTEGER}
    </select>

    <select id="getJobsByConditions" parameterType="com.ly.ems.model.base.job.JobConditions" resultMap="BaseJobMap">
        SELECT j.* FROM ly_job j WHERE 1=1 AND status = 1
        <if test="jobName != null and jobName != ''"> AND j.job_name like CONCAT('%', #{jobName, jdbcType=VARCHAR}, '%') </if>
        <if test="isSpec != null"> AND j.is_spec = #{isSpec, javaType=com.ly.ems.model.common.constant.YesNoEnum} </if>
    </select>
</mapper>