<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.ems.dao.AttendanceMapper">
  <resultMap id="BaseResultMap" type="com.ly.ems.model.attendance.Attendance">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="attendance_status_1" jdbcType="TINYINT" property="attendanceStatus1" />
    <result column="attendance_status_2" jdbcType="TINYINT" property="attendanceStatus2" />
    <result column="attendance_status_3" jdbcType="TINYINT" property="attendanceStatus3" />
    <result column="attendance_status_4" jdbcType="TINYINT" property="attendanceStatus4" />
    <result column="attendance_status_5" jdbcType="TINYINT" property="attendanceStatus5" />
    <result column="attendance_status_6" jdbcType="TINYINT" property="attendanceStatus6" />
    <result column="attendance_status_7" jdbcType="TINYINT" property="attendanceStatus7" />
    <result column="attendance_status_8" jdbcType="TINYINT" property="attendanceStatus8" />
    <result column="attendance_status_9" jdbcType="TINYINT" property="attendanceStatus9" />
    <result column="attendance_status_10" jdbcType="TINYINT" property="attendanceStatus10" />
    <result column="attendance_status_11" jdbcType="TINYINT" property="attendanceStatus11" />
    <result column="attendance_status_12" jdbcType="TINYINT" property="attendanceStatus12" />
    <result column="attendance_status_13" jdbcType="TINYINT" property="attendanceStatus13" />
    <result column="attendance_status_14" jdbcType="TINYINT" property="attendanceStatus14" />
    <result column="attendance_status_15" jdbcType="TINYINT" property="attendanceStatus15" />
    <result column="attendance_status_16" jdbcType="TINYINT" property="attendanceStatus16" />
    <result column="attendance_status_17" jdbcType="TINYINT" property="attendanceStatus17" />
    <result column="attendance_status_18" jdbcType="TINYINT" property="attendanceStatus18" />
    <result column="attendance_status_19" jdbcType="TINYINT" property="attendanceStatus19" />
    <result column="attendance_status_20" jdbcType="TINYINT" property="attendanceStatus20" />
    <result column="attendance_status_21" jdbcType="TINYINT" property="attendanceStatus21" />
    <result column="attendance_status_22" jdbcType="TINYINT" property="attendanceStatus22" />
    <result column="attendance_status_23" jdbcType="TINYINT" property="attendanceStatus23" />
    <result column="attendance_status_24" jdbcType="TINYINT" property="attendanceStatus24" />
    <result column="attendance_status_25" jdbcType="TINYINT" property="attendanceStatus25" />
    <result column="attendance_status_26" jdbcType="TINYINT" property="attendanceStatus26" />
    <result column="attendance_status_27" jdbcType="TINYINT" property="attendanceStatus27" />
    <result column="attendance_status_28" jdbcType="TINYINT" property="attendanceStatus28" />
    <result column="attendance_status_29" jdbcType="TINYINT" property="attendanceStatus29" />
    <result column="attendance_status_30" jdbcType="TINYINT" property="attendanceStatus30" />
    <result column="attendance_status_31" jdbcType="TINYINT" property="attendanceStatus31" />
    <result column="enable" jdbcType="BIT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, employee_id, attendance_status_1, attendance_status_2, attendance_status_3, attendance_status_4, 
    attendance_status_5, attendance_status_6, attendance_status_7, attendance_status_8, 
    attendance_status_9, attendance_status_10, attendance_status_11, attendance_status_12, 
    attendance_status_13, attendance_status_14, attendance_status_15, attendance_status_16, 
    attendance_status_17, attendance_status_18, attendance_status_19, attendance_status_20, 
    attendance_status_21, attendance_status_22, attendance_status_23, attendance_status_24, 
    attendance_status_25, attendance_status_26, attendance_status_27, attendance_status_28, 
    attendance_status_29, attendance_status_30, attendance_status_31, enable
  </sql>
</mapper>